@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  background: #15151e;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

p {
  color: #fff;
  font-size: 1.2rem;
}

.races {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}

.races img {
  font-family: 'Staatliches', cursive;
  width: 40rem;
  flex-shrink: 0;
  padding-right: 0.3em;
  padding-left: 0.3em;
  margin: 0;
}

.races h2:last-of-type {
  background: #e1e1ff;
}

.lightBG {
  background: #313143;
}

.space-20vh {
  height: 20vh;
}

.space-30vh {
  height: 30vh;
}

.space-50vh {
  height: 50vh;
}

.space-100vh {
  height: 100vh;
}